[Unit]
Description=TelegramBot

[Service]
ExecStart=/usr/bin/python3 /___/antispam_tg_bot.py
Restart=always
User=___

[Install]
WantedBy=multi-user.target
